		body {
			font-family: 'vazirmatn';
				margin: 0;
				padding: 0;
				direction: rtl;
				background-color: #f9f9f9;

		}
			.header {
				background-color: #fff;
					padding: 15px;
					border-bottom: 1px solid #e0e0e0;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid #ddd;
			}
			.header_nav ul {
				list-style: none;
				padding: 0;
					margin: 0;
					display: flex;
					gap: 20px;
			}
				.container {
					display: flex;
					padding: 20px;
				}
					.sidebar {
						width: 25%;
						background-color: #eee;
						padding: 15px;
					}
			.main-content {
				width:75%;
				padding-right: 20px;
			}
				.product-grid {
					display:grid;
					grid-template-columns: repeat(3,1fr);
					gap: 15px;
				}
					.product-card {
						background-color: #fff;
						padding: 20px;
						border: 1px solid #ccc;
						text-align: center;
					}
					@media (max-width: 600px) {
						.container {
							flex-direction: column;
						}
							.sidebar , main-content {
								width: 100%;
								padding-right: 0;
							}
								.product-grid {
									grid-template-columns: 1fr;
									gap: 10px;
								}
									.header {
										flex-direction: column;
										gap: 10px;
									}
					}

					body {
						background-color: red;
					}
